<f:layout name="Default"/>

<f:section name="main">
    <h1>Listing for MailScanner</h1>
    <p>
        <f:link.action action="new">New Sender</f:link.action>
    </p>

    <f:flashMessages/>
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <f:render partial="MailScanner/ListByFolder" arguments="{folders:folders, showAllLink:true}"/>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <f:render partial="Sender/SenderList" arguments="{senders:senders}"/>
        </div>
    </div>

</f:section>