<div class="form-group">

    <label for="name">
        <f:translate key="tx_t3xmailscanner_domain_model_sender.email"/>
    </label>
    <f:form.textfield id="name" class="form-control" property="name"/>
    <br/>
</div>

<div class="form-group">
    <label for="imapFolder">
        <f:translate key="tx_t3xmailscanner_domain_model_sender.imap_folder"/>
    </label>

    <f:form.select id="imapFolder" class="form-control" property="imapFolder" options="{imapFolders}" optionLabelField="name" sortByOptionLabel="name" />


</div>
